<!-- Replace the email with your own formspree email -->
<form action="https://formspree.io/{{ site.formspree_code }}" method="POST" >
    <div class="form-group">
      <label for="contact_form_name">Név :</label>
      <input type="text" class="form-control" name="name" id="contact_form_name" placeholder="A nevét ide írja...">
     </div>
     <div class="form-group">
       <label for="contact_form_email">E-mail :</label>
      <input type="email" class="form-control" name="_replyto" id="contact_form_email" placeholder="E-mail címét ide írja...">
     </div>
     <div class="form-group">
       <label for="contact_form_message"> Üzenet :</label>
      <textarea name="_message" class="form-control" id="contact_form_message" placeholder="Üzenet szövegét ide írja..."></textarea>
     </div>
      <button type="submit" value="Send" class="btn btn-lg btn-dark">Küldés</button>
 </form>